<div class="head">
  <div class="box-title">
    <h1>World of foxes</h1>
    <p>Foxes are small-to-medium-size canids. The fox is said to be one of the most intelligent animals in the world.</p>
    <form action="https://www.foxesworlds.com/"> 
      <button class="button-facts" type="submit">Facts</button> 
     </form>
  </div>
  <div class="picture-box">
    <img src="https://cdn.discordapp.com/attachments/721703194274693183/1051126238544134174/RedFox.PNG" alt="Red Fox picture" class="img"/>
  </div>
</div>